body {
  font-family: 'Aileron', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul, li {
  list-style-type: none;
  padding: 0;
}

.container {
  padding-top: 140px;
  max-width: 800px;
  margin: auto;
}

.shadow {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  height: 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.3)));
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.3));
}

.folder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.2s max-height ease;
  transition: 0.2s max-height ease;
  border-bottom: 1px solid black;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.36) 0%, rgba(0, 0, 0, 0) 40px);
  height: auto;
  max-height: 154px;
}

.folder:not(:first-child) {
  margin-top: -20px;
}

.folder:hover {
  max-height: 320px;
}

.folder a {
  background-color: #fff;
}

.folder .sheets {
  padding: 0;
}

.folder .sheets .sheet article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.folder .sheets .sheet header {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  height: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.folder .sheets .sheet header .sheet-number,
.folder .sheets .sheet header .sheet-author-avatar,
.folder .sheets .sheet header .sheet-type,
.folder .sheets .sheet header .sheet-format,
.folder .sheets .sheet header .sheet-subjects {
  border-right: 1px solid black;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

.folder .sheets .sheet header .sheet-number span,
.folder .sheets .sheet header .sheet-author-avatar span,
.folder .sheets .sheet header .sheet-type span,
.folder .sheets .sheet header .sheet-format span,
.folder .sheets .sheet header .sheet-subjects span {
  color: #5A5A5A;
  padding-right: 5px;
}

.folder .sheets .sheet header .sheet-type,
.folder .sheets .sheet header .sheet-format,
.folder .sheets .sheet header .sheet-subjects {
  padding: 0 10px;
}

.folder .sheets .sheet header .sheet-number {
  width: 30px;
  text-align: center;
}

.folder .sheets .sheet header .sheet-author-avatar {
  width: 30px;
  text-align: center;
}

.folder a {
  border: 1px solid black;
  padding: 20px;
  display: block;
}

.folder .folder-tab {
  background-color: #fff;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  float: right;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  height: 40px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.folder .folder-tab ul {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
}

.folder .folder-tab ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.folder .folder-tab ul li:not(:last-child) {
  padding-right: 10px;
}

.folder a > header,
.folder > header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

.folder a > header .fl,
.folder > header .fl {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.folder a > header .avatar,
.folder > header .avatar {
  display: inline-block;
}

.folder a > header .avatar:not(:last-child),
.folder > header .avatar:not(:last-child) {
  margin-right: 5px;
}

.folder .date {
  font-size: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #5A5A5A;
}

.folder h2 {
  font-size: 24px;
  color: #000000;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.folder .avatar {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
}

.sheet-singleton .shadow {
  display: none;
}

.sheet-singleton .folder {
  max-height: 100%;
}

.sheet-singleton .folder:not(:first-child) {
  margin-top: 0;
}

.sheet-singleton .folder:hover {
  max-height: auto;
}
/*# sourceMappingURL=style.css.map */