---
---

body {
  font-family: 'Aileron', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul, li {
  list-style-type: none;
  padding: 0;
}

.container {
  padding-top: 140px;
  max-width: 800px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.shadow {
  position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    height: 40px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0)), to(rgba(0, 0, 0, .3)));
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), rgba(0, 0, 0, .3));
}


.folder {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(to top, rgba(0,0,0,0.36) 0%,rgba(0,0,0,0) 40px);
  height:auto;

  &:not(:first-child) {
    margin-top: -42px;
  }

  a {
    background-color: #fff;
    transition: 0.2s max-height ease;
  }

  .sheets {
    padding: 0;

    .sheet {
      article {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
      }

      header {
        border-left: 1px solid black;
        border-bottom: 1px solid black;
        margin-bottom: 20px;
        height: 30px;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;

        .sheet-number,
        .sheet-author-avatar,
        .sheet-type,
        .sheet-format,
        .sheet-subjects {
          border-right: 1px solid black;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: black;

          span {
            color: #5A5A5A;
            padding-right: 5px;
          }
        }

        .sheet-type,
        .sheet-format,
        .sheet-subjects {
          padding: 0 10px;;
        }

        .sheet-number {
          width: 30px;
          text-align: center;
        }

        .sheet-author-avatar {
          width: 30px;
          text-align: center;
        }
      }
    }
  }

  a {
    border: 1px solid black;
    padding: 20px;
    display: block;
    max-height: 154px;

    &:hover {
      max-height: 320px;
    }
  }

  .folder-tab {
    background-color: #fff;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    width: fit-content;
    float: right;
    align-content: center;
    justify-items: center;
    height: 40px;
    align-self: flex-end;

    ul {
      padding: 10px 20px;
      display: flex;
      align-content: center;
      justify-items: center;

      li {
        display: inline-flex;
        align-items: center;

        &:not(:last-child) {
          padding-right: 10px;
        }
      }
    }
  }
  
  a > header,
  > header {
    display: flex;
    border-bottom: 1px solid black;
    padding-bottom: 20px;

    .fl {
      flex-grow: 1;
    }

    .avatar {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }

  .date {
    font-size: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #5A5A5A;
  }

  h2 {
    font-size: 24px;
    color: #000000;
    font-weight: 500;
    padding: 0;
    margin: 0;
  }

  .avatar {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
  }
}

.sheet-singleton {

  .shadow {
    display: none;
  }

  .folder {
    max-height: 100%;

    &:not(:first-child) {
      margin-top: 0;
    }

    &:hover {
      max-height: auto;
    }
  }
}


.sheet,
.folders__folder__header {
  background-color: #fff;
  clear: both;
}

.sheet {
  padding-top: 0;
}

.sheet {
  article {
    display: flex;

    .sheet__item,
    .sheet__response {
      flex: 1;
    }

    .sheet__item {
      padding-right: 20px;
    }
  }

  &:nth-child(even) {
    article {
      flex-direction: row-reverse;

      .sheet__item {
        padding-right: 0;
        padding-left: 20px;
      }
    }

    header {
      float: right;

      & > div {
        flex-direction: row-reverse;

        & > div:first-child {
          border-right: 1px solid black;
        }
      }
    }

    article {
      clear: both;
    }
  }

  header {
    height: 30px;
    margin-bottom: 20px;

    & > div {
      display: flex;
    }

    div > div {
      border: 1px solid black;
      border-top: none;
      align-items: center;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      &:not(:last-child) {
        border-right: none;
      }

      &.sheet__number {
        height: 30px;
        width: 30px;
        text-align: center;
      }

      &.sheet__author-avatar {
        width: 30px;
        height: 30px;
        

        img {
          width: 26px;
          height: 26px;
        }
      }

      &.sheet__meta-field {
        color: #5A5A5A;
        padding: 0 10px;
        text-transform: uppercase;
        height: 30px;

        span {
          color: black;
          padding-right: 5px;
        }
      }
    }
  }
}

.folders__folder__header {
  border-bottom: none;

  a {
    text-decoration: none;
  }

  .folder__date {
    font-size: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #5A5A5A;
  }

  .folder__title {
    padding-top: 0.5em;
  }
}

.page--home {
  .shadow {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    height: 40px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.3)));
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.3));
}

  .folders__folder {
    position: relative;
    overflow: hidden;
    height: auto;
    transition: 0.2s all ease-in-out;
    max-height: 140px;

    &:hover {
      max-height: 320px;
    }

    &:not(:first-child) {
      margin-top: -30px;
      border-bottom: 1px solid #000;
    }
  }
}

.folders__folder__tab {
  background-color: #fff;
  border: 1px solid black;
  border-bottom: none;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  float: right;
  padding-right: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  z-index: 100;

  .tab__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    margin-right: 10px;
    height: 100%;
    border-right: 1px solid black;
  }

  ul {
    li {
      display: inline-block;
    }
  }
}

.folder__sheets {
  background-color: #fff;
}