{{ define "main" }}

  <h1>{{ .Params.name }}</h1>
  <img src="{{ .Params.photo }}" alt="" />

  <h2>Bio</h2>
  {{ .Content }}

  <h2>Articles</h2>
  <ul>
    <!-- Hack to display each folder only once -->
    {{ $folders := slice }}
    {{ $titles := slice }}

    {{ range .Pages }}
      {{ $folders = $folders | append .CurrentSection }}
      {{ $titles = $titles | append .CurrentSection }}
    {{ end }}

    <!-- Union any duplicates -->
    {{ $folders = union $folders $titles }}

    {{ range $folders }}
      {{ partial "folder" . }}
    {{ end }}
  </ul>

{{ end }}