<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{{ .Site.Title }}</title>

<link href="https://fonts.googleapis.com/css?family=Space+Mono&display=swap" rel="stylesheet">
{{ $styleSass := resources.Get "css/style.scss" }}
{{ $styleCSS := $styleSass | resources.ToCSS }}
<link rel="stylesheet" href="{{ $styleCSS.Permalink }}">

<!-- {{ if or .Params.sketch .IsHome }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.min.js"></script>
<script src="/js/app.js"></script>
{{ end }} -->